@tailwind base;
@tailwind components;
@tailwind utilities;

.typo {
    @apply text-zinc-800 text-5xl;
}

.typo h1 {
    @apply text-9xl;
    line-height: 1.3em;
}

.typo h2 {
    @apply text-8xl;
}

.typo h3 {
    @apply text-7xl;
}

.typo h4 {
    @apply text-6xl;
}

.typo h5 {
    @apply text-5xl;
}

.typo h6 {
    @apply text-4xl;
}

.typo p {
    @apply text-5xl;
}

.typo p code {
    @apply bg-zinc-600 text-white;
}

.typo li code {
    @apply bg-zinc-600 text-white;
}

.typo ul code {
    @apply bg-zinc-600 text-white;
}

.typo ul, .typo ol {
    list-style: none;
    padding-left: 0;
    @apply py-[20px];
}

.typo ul li, .typo ol li {
    @apply text-zinc-800;
    position: relative;
    padding-left: 1.3rem; /* 或者根据需要调整 */
    margin-left: 1rem;
    margin-top: 1rem;
}

.typo ul li::before, .typo ol li::before {
    position: absolute;
    left: 0;
    top: 0;
    line-height: inherit;
}

.typo ul li::before {
    content: '-';
    margin-left: -5px;
}

.typo ol li::before {
    content: counter(item) '.';
    counter-increment: item;
    margin-left: -20px;
}

.typo ol {
    counter-reset: item;
}

.typo ul {
    li {
        @apply text-zinc-700;
        line-height: 1.3em;
    }

    strong {
        @apply text-zinc-800 text-5xl;
    }

    @apply text-zinc-800 text-4xl;
}

.typo ol {
    li {
        @apply text-zinc-700;
        line-height: 1.3em;
    }

    strong {
        @apply text-zinc-800 text-5xl;
    }

    @apply text-zinc-800 text-4xl;
}



